@mixin border-1 {
  position: relative;
  border: 1px solid rgba(25, 186, 139, 0.17);

  &:before,
  &:after {
    position: absolute;
    width: 24px;
    height: 8px;
    content: '';
  }

  &:before {
    border-left: 2px solid #02a6b5;
    left: 0;
    top: 0;
    border-top: 2px solid #02a6b5;
  }

  &:after {
    border-right: 2px solid #02a6b5;
    right: 0;
    bottom: 0;
    border-bottom: 2px solid #02a6b5;
  }
}
